
//colors
$white: #FFF;
$black: #000;
$orange: #fd7a23;
$dark-grey: #222222;
$school-color: #c42941;
$dark-blue: #172f58;
$red: #D42044;
$school-gradient-1: rgba(50, 0, 0, 0.95);
$school-gradient-2: rgba(0, 0, 0, 0.9);
$school-gradient-angle: 90deg;


//checkout
$ch-input-width-desktop: 410px;
$ch-button-width: 275px;
$ch-field-height: 44px;
$ch-field-margins: 15 auto 2 auto;
$ch-form-max-width: 575px;


$homepage-header-margin: 116px;